$primary-color: rgb(255, 0, 0);
$primary-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

@mixin p($color) {
  background-color: rgba(255, 242, 4, 0.099);
  color: $color;
  border: 1px solid $color;
}

.card {
  &__container {
    border: 1px solid $primary-color;
    text-align: center;
    width: 350px;
    background-color: white;
  }

  &__photo {
    width: 300px;
    display: inline-block;
  }

  &__name {
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: $primary-font;
  }

  &__desc {
    font-size: 14px;
    font-family: $primary-font;
  }

  &__price {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-size: 20px;
    @include p($primary-color);
  }
}
